<div class="contact-info">
    <div class="container">
        <h1>Post Block</h1>
        <h2 class="section-title text-center">{{ fields.title }}</h2>
        <h3 class="section-subtitle text-center">{{ fields.description }}</h3>
        <img src="{{ fields.image.url }}" />
    </div>
</div>