{% extends "base.twig" %}

{% block content %}
	<div class="py-5">
		<div class="container my-5 d-flex align-items-center justify-content-center flex-column" style="min-height: 300px">
			<p class="fw-bold">Sorry, we couldn't find what you're looking for.</p>
			<a href="/" class="btn btn-outline-primary">Go to homepage</a>
		</div>
	</div>
{% endblock %}