.carousel {
    .carousel-indicators {
        [data-bs-target] {
            width: 14px;
            height: 14px;
            border-radius: 100px;
            border: 0 !important;
            &.active {
                background: $primary;
            }
        }
    }
}