.call-to-action {
    background: $secondary;
    padding: $section-padding;
    color: $white;
    background-image: url('../images/pattern-transparent.png');
    background-size: cover;
    background-position-y: center;
}