.events-sec{
  text-align: center;
  .orange-separator {
    height: 3px;
    background: #f78930;
    width: 40vw;
    margin: 0px auto 50px;
  }
  h2 {
    font-size: 67px;
    color: #f78930;
  }
  p {
    font-size: 32px;
    width: 45vw;
    margin: 5px auto;
  }
}
