.home-gallery {
  .home-gallery-left {
    background-image: url('../images/social-background.png');
    background-repeat: no-repeat;
    padding: 40px;
    p:first-child {
      color: #ffffff;
      font-size: 24px;
    }
    p:nth-child(2){
      color: #f78930;
      font-size: 62px;
      line-height: 1;
    }
    .social-icons {
      padding: 0;
      fill: white;
    }
  }
}


.home-gallery-right {
  background-image: url('../images/home-gallery.png');
  background-repeat: no-repeat;
  height: 65vw;
}
