.products {
    /* padding: 5rem 0; */
    .body-container {
        & > div:last-child {
            padding-bottom: 0;
        }
    }
}

.product-teaser {
    p {
        margin-bottom: 0;
    }
    &__container {
        padding-bottom: 3.5rem;
    }
    &__content {
        &-footer {
            margin-top: 1rem;
            padding: 1rem 0;
            border-top: 1px solid $gray-500;
            border-bottom: 1px solid $gray-500;
            &-action {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }
    }
    &__image {
        display: block;
        img {
            width: 100%;
            height: 300px;
            object-fit: contain;
            margin-bottom: 1rem;
        }
    }
    &__title {
        text-decoration: none;
        text-transform: uppercase;
        font-size: $font-lg;
        color: $primary;
        font-family: $KamerikHeavy;
        display: block;
    }
    &__description {
    }
    &__price {
        font-size: $font-lg;
        font-family: $KamerikHeavy;
    }
    &--one {
        display: flex;
        width: 100%;
        @include media-breakpoint-down(md) {
            flex-direction: column;
        }
        .product-teaser__image {
            padding-right: 1rem;
            width: 50%;
            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }
        .product-teaser__content {
            padding-left: 1rem;
            width: 50%;
            @include media-breakpoint-down(md) {
                width: 100%;
            }

        }
    }
}
